.main {
    display: flex;
  }
 
/* Main.css */
body {
  margin: 0;
  padding: 0;
}

.navbar {
  padding: 10px;
  background-color: #f0f0f0;
}

.search-bar {
  padding: 10px;
}

.state-list {
  overflow-y: auto; /* Enable scrolling if the state list is too long */
  max-height: calc(100vh - 100px); /* Adjust the height as needed */
  border: 2px solid red;
}

.state-item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.state-item:hover {
  background-color: burlywood;
}

  
  .content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between cards */
    padding: 20px;
  }
  
  /* Add styles for the header in Page component */
  .content h2 {
    color: red;
  }
  
  .content p {
    line-height: 1.5;
  }
  
  /* Styles for cards in Page component */
  .card {
    flex: 0 1 calc(50% - 20px); /* Adjust card size to have two cards in one row */
    margin-bottom: 20px;
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }