  .card-container {
    display: flex;
   
  }
  
  .card {
    border: 1px solid #ddd;
    /* padding: 10px; */
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    
    display: flex;
    flex-wrap: wrap;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card.selected {
    background-color: #007bff;
    color: #fff;
  }
  
  .card:nth-child(4) {
    background-color: #28a745; 
    color: #fff; 
  }
  
  .links {
   width: auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 5px;
  }
  

